[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rebib"]
	path = rebib
	url = https://github.com/abhi-1u/rebib
[submodule "texor"]
	path = texor
	url = https://github.com/abhi-1u/texor
