[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "rebib"]
	path = rebib
	url = https://github.com/abhi-1u/rebib
	shallow = true
	registered = true
